<br>
<div fxLayoutAlign="center center">
    <img src="/assets/images/maubilee-logo.png" alt="Maubilee" class="imageshape">
</div>
<br>
<div fxLayoutAlign="center center">
    <mat-card fxFlex="25">
        <h1>REGISTRATION</h1>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
            <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name">
            </mat-form-field>

            <mat-form-field>
            <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
            </mat-form-field>

            <mat-form-field>
            <mat-label>Address</mat-label>
              <input matInput placeholder="Address">
            </mat-form-field>

            <mat-form-field>
            <mat-label>Phone Number</mat-label>
              <input matInput placeholder="Phone Number">
            </mat-form-field>

            <mat-form-field>
            <mat-label>Email Address</mat-label>
              <input matInput placeholder="Email Address">
            </mat-form-field>

            <mat-form-field>
            <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Re-Password</mat-label>
                <input matInput type="password" placeholder="Repeat Password">
            </mat-form-field>

            <button mat-raised-button type="submit" class="butsubmit">Register</button>
            <a routerLink="/login">Login</a>
          </form>
    </mat-card>
</div>
<br><br><br><br>