.spacer{
    flex: 1 1 auto;
}

a:hover {
    color:#fd6512;
  }

.imageshape{
    width:12%;
    height:60%;
}

.littlespace{
    width:10%;
}

.topcolour{
   background-color: #055163;
}

.toptool{
    color: white;
 }

.secondcolour{
    background-color: white;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.active {
    background-color: #fd6512;
}

.active:hover {
    color: #055163;
}