<mat-toolbar class="mat-elevation-z5">  
    <mat-toolbar-row class="topcolour">
        <a class="toptool"><mat-icon>call</mat-icon>5 890 52 96</a>
        <div class="spacer"></div>
        <a *ngIf="!loginService.isUserLoggedIn()" class="toptool" mat-button [routerLink]="['/registration']" routerLinkActive="active"><mat-icon>person</mat-icon>Register</a>
        <a *ngIf="!loginService.isUserLoggedIn()" class="toptool" mat-button [routerLink]="['/login']" routerLinkActive="active"><mat-icon>enhanced_encryption</mat-icon>Login</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="toptool" mat-button [routerLink]="['/dashboard']" routerLinkActive="active"><mat-icon>dashboard</mat-icon>Dashboard</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="toptool" mat-button [routerLink]="['/advert']" routerLinkActive="active"><mat-icon>description</mat-icon>Ads</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="toptool" mat-button [routerLink]="['/logout']" routerLinkActive="active"><mat-icon>person</mat-icon>Logout</a>

    </mat-toolbar-row>
      
    <mat-toolbar-row class="secondcolour">
        <div class="littlespace"></div>
        <img src="/assets/images/logo_with_text.png" alt="Maubilee" class="imageshape">
        <div class="spacer"></div>
        <a mat-button>Contact Us</a>
        <div class="littlespace"></div>
    </mat-toolbar-row>
</mat-toolbar>

